<div class="center container-narrow">
	<h1>My Bookmarks</h1>
	<p>Hello <%= current_user.username %>, this is where your bookmarks will be stored.</p>
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Website</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= %></td>
				<td><%= %></td>
			</tr>
		</tbody>
	</table>
	<p><%= link_to "New Bookmarks", bookmarks_new_path %></p>
</div>