<div class="center hero-unit jumbotron">

	<h1>Bookmarks</h1>
	
	<h2>by <a href="http://hunterbacot.com">Hunter Bacot</a></h2>
	
	<p>Store your bookmarks here, retrieve them anywhere</p>
	<br>
	<%= link_to "Sign Up!", new_user_registration_path, class: "btn btn-large btn-primary btn-info" %>


</div>